[Unit]
Description=bind
After=multi-user.target

[Service]
ExecStart=/usr/sbin/named -f
ExecReload=/usr/sbin/rndc reload
ExecStop=/usr/sbin/rndc stop

[Install]
WantedBy=multi-user.target
