[Unit]
Description=bigcouch
After=multi-user.target

[Service]
Environment="HOME=/home/root"
Type=simple
ExecStart=/opt/bigcouch/bin/couchdb -b

[Install]
WantedBy=multi-user.target
