[Unit]
Description=xdpd
After=multi-user.target
After=scg-flsc-node.service
After=scg-capwap-node.service
After=tr069-poststart.service
Requires=scg-flsc-node.service

[Service]
ExecStart=/usr/sbin/xdpd --config-file /etc/xdpd/cli.cfg
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
