[Unit]
Description=hostapd
After=multi-user.target
Requires=opencapwap-wtp.service

[Service]
ExecStart=/usr/sbin/hostapd /etc/hostapd.conf
Type=simple
Environment="HOME=/home/root"
WorkingDirectory=/home/root
Restart=on-failure

[Install]
WantedBy=multi-user.target
