[Unit]
Description=SSH Key Generation
ConditionPathExists=|!/etc/dropbear/dropbear_rsa_host_key
ConditionPathExists=|!/etc/dropbear/dropbear_dss_host_key
ConditionPathExists=|!/etc/dropbear/dropbear_ecdsa_host_key

[Service]
Type=oneshot
ExecStart=-/bin/sh -c "if [ ! -f /etc/dropbear/dropbear_rsa_host_key ]; then @SBINDIR@/dropbearkey -t rsa -f /etc/dropbear/dropbear_rsa_host_key; fi"
ExecStart=-/bin/sh -c "if [ ! -f /etc/dropbear/dropbear_dss_host_key ]; then @SBINDIR@/dropbearkey -t dss -f /etc/dropbear/dropbear_dss_host_key; fi"
ExecStart=-/bin/sh -c "if [ ! -f /etc/dropbear/dropbear_ecdsa_host_key ]; then @SBINDIR@/dropbearkey -t ecdsa -f /etc/dropbear/dropbear_ecdsa_host_key; fi"
RemainAfterExit=yes
