[Unit]
Description=opencapwap wtp
After=multi-user.target

[Service]
ExecStart=/usr/bin/WTP -f
Type=simple
Environment="HOME=/home/root"
WorkingDirectory=/home/root
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
