[Unit]
Description=hostapd
After=multi-user.target
After=opencapwap-wtp.service
Requires=opencapwap-wtp.service

[Service]
TimeoutStartSec= 3
ExecStart=/usr/sbin/hostapd /etc/hostapd.conf
Type=simple
Environment="HOME=/home/root"
WorkingDirectory=/home/root
Restart=always

[Install]
WantedBy=multi-user.target
