%% place system-specific configuration in this file
{node, [
	{cookie, "ac52d78c635900f0ad89b5a6875e8a3269b816d5"}
]}.

{kernel, [
	  {inet_dist_use_interface, {127,0,0,1}}
]}.

{ppp, [
    {radius_auth_server,{{192,168,128,2},1812,<<"secret">>}},
    {radius_acct_server,{{192,168,128,2},1813,<<"secret">>}}
]}.

{flow_pppctld, [
	{ipctld_port, 7744},
	{ipcp_ouraddr, {80,150,69,97}}
]}.
