[Unit]
Description=Conntrack Daemon

[Service]
EnvironmentFile=-/usr/share/conntrackd/environmentfile
EnvironmentFile=-/etc/default/conntrackd
ExecStart=/usr/sbin/conntrackd -C "$CONFIG" $OPTIONS

[Install]
WantedBy=multi-user.target

