[Unit]
Description=Open vSwitch
After=syslog.target

[Service]
Type=oneshot
ExecStartPre=/usr/share/openvswitch/scripts/ovs-ctl enable-protocol --protocol=gre
ExecStart=/usr/share/openvswitch/scripts/ovs-ctl --system-id=random start --delete-bridges
ExecStop=/usr/share/openvswitch/scripts/ovs-ctl stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

