[Unit]
Description=Open vSwitch Database Daemon
After=syslog.target

[Service]
Type=forking
Restart=always
ExecStartPre=/bin/mkdir -p /run/openvswitch /run/openvswitch/db
ExecStartPre=-/usr/bin/ovsdb-tool create /run/openvswitch/db/conf.db
ExecStart=/usr/sbin/ovsdb-server \
    --remote=punix:/run/openvswitch/db.sock \
    --remote=db:Open_vSwitch,Open_vSwitch,manager_options \
    --pidfile --detach \
    /run/openvswitch/db/conf.db
ExecStartPost=/usr/bin/ovs-vsctl --no-wait init
PIDFile=/run/openvswitch/ovsdb-server.pid

[Install]
WantedBy=multi-user.target