[Unit]
Description=Open vSwitch Switch Daemon
After=openvswitch-ovsdb.service

[Service]
Type=forking
Restart=always
ExecStart=/usr/sbin/ovs-vswitchd --pidfile --detach --log-file
PIDFile=/var/run/openvswitch/ovs-vswitchd.pid

[Install]
WantedBy=multi-user.target