[Unit]
Description=SNMP-Agent for BIRD Routing Daemon
Requires=bird-snmp-agent-bgp.service
Requires=bird-snmp-agent-ospf.service

[Service]
SyslogIdentifier=bird-snmp-agent
ExecStart=/bin/true
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
