[Unit]
Description=SNMP-Agent for BIRD Routing Daemon

[Service]
Environment=BGPMIBFILE=@LIBEXEC@/BGP4-MIB.txt
SyslogIdentifier=bird-snmp-agent
ExecStart=@SBINDIR@/bird-snmp-agent
Restart=always

[Install]
WantedBy=multi-user.target
