[Unit]
Description=Restore iptables rules
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=Yes
StandardOutput=syslog
TimeoutSec=0
ExecStart=/usr/sbin/xtables-persistence restore

[Install]
WantedBy=multi-user.target
