[Unit]
Description=Simple Network Management Protocol (SNMP) Trap Daemon.
After=syslog.target network.target

[Service]
Environment=OPTIONS="-Lsd"
EnvironmentFile=-/etc/default/snmptrapd
EnvironmentFile=-/etc/snmp/env-snmptrapd
ExecStart=/usr/sbin/snmptrapd $OPTIONS -f $SNMPTRAPD_LISTENING_ADDRESSES
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
