[Unit]
Description=OpenSSH Per-Connection Daemon
Wants=sshdgenkeys.service
After=sshdgenkeys.service

[Service]
ExecStart=-@SBINDIR@/sshd -D
ExecReload=@BASE_BINDIR@/kill -HUP $MAINPID
StandardError=syslog
Restart=on-failure

[Install]
WantedBy=multi-user.target
