[Unit]
Description=Run tasks when events happen at the network interface
After=systemd-udevd.service

[Service]
Type=forking
ExecStart=/usr/sbin/ifplugd -f 
Restart=always

[Install]
WantedBy=multi-user.target
