[Unit]
Description=@@SUMMARY@@

[Service]
SyslogIdentifier=@@APPNAME@@
ExecStart=@@APP_CONTROL@@ --from-systemd=@@SYSTEMD_UNIT_NAME@@@@@APPVERSION@@ start @@APP_PREFIX@@/@@APPNAME@@
ExecStop=@@APP_CONTROL@@ --from-systemd=@@SYSTEMD_UNIT_NAME@@@@@APPVERSION@@ stop
Restart=always

[Install]
WantedBy=multi-user.target
