[Unit]
Description=static route configuration for %I
After=systemd-networkd.service

[Service]
ExecStart=/usr/libexec/static-routes.sh /etc/static-routes.d/%i

[Install]
WantedBy=multi-user.target
