{node, [
    {run_as_user, "autoisis"},
    {run_as_group, "autoisis"},
    {smp, enabled}
]}.

{lager, [
    {handlers, [
        {lager_console_backend, info},
        {lager_file_backend, [{file, "/var/autoisis/error.log"}, {level, error}]},
        {lager_file_backend, [{file, "/var/autoisis/console.log"}, {level, info}]},
        {lager_file_backend, [{file, "/var/autoisis/debug.log"}, {level, debug}]}
    ]},
    {crash_log, "/var/autoisis/crash.log"},
    {colored, true}
]}.
