{node, [
    {run_as_user, "root"},
    {run_as_group, "root"},
    {smp, enabled}
]}.

{lager, [
    {handlers, [
        {lager_console_backend, info},
        {lager_file_backend, [{file, "/var/autoisis/error.log"}, {level, error}]},
        {lager_file_backend, [{file, "/var/autoisis/console.log"}, {level, info}]},
        {lager_file_backend, [{file, "/var/autoisis/debug.log"}, {level, debug}]}
    ]},
    {crash_log, "/var/autoisis/crash.log"},
    {colored, true}
]}.

{isis, [
    {startup, [
        {allowed_interfaces, ["eth0.1","eth0.2","eth0.3","eth0.4"]},
        {autoconf, true},
        {autoconf_fingerprint, <<0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31>>}
    ]},
    {rib_client, zclient}
]}.
